<% if current_user != nil %>
	<div class="title-bar">
  		<h5>Upcoming Passes</h5>
	</div>

	<div class="content-box">
  		<% @passes.each do |pass| %>
			<% if (!pass.redeemed) %>
				<div class = "row-fluid">
      				<div class="pass-item">
						<% if pass.pass_set.location %>
							<span><%= link_to pass.pass_set.location.name, pass %></span>
						<% elsif pass.pass_set.event %>
							<span><%= link_to pass.pass_set.event.name, pass %></span>
						<% end %>
						<span class="offset2"><%= pass.pass_set.fecha.date.strftime("%m/%d/%Y") %></span>
  	  				</div> <!-- end of .pass-item -->
				</div>
			<% end %>
  		<% end %>
	</div>
<% end %>
