<% if current_user != nil %>
	<div class="title-bar">
  		<h5>Upcoming Reservations</h5>
	</div>

	<div class="content-box">
  		<% @reservations.each do |pass| %>
			<% if (!pass.redeemed) %>
				<div class = "row-fluid">
      				<div class="pass-item">
						<span><%= link_to pass.pass_set.bar.name, pass %></span>
						<span class="offset2"><%= pass.pass_set.date.strftime("%m/%d/%Y") %> 
							<% if pass.pass_set.reservation_time_periods == true %>
								at <%= pass.reservation_time %>
							<% end %></span>
  	  				</div> <!-- end of .pass-item -->
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>