<div class="title-bar">
  <h5>My Passes</h5>
</div>

<% if current_user != nil %>
<div class="content-box">
  <% @passes.each do |pass| %>
	<% if (!pass.redeemed) %>
      <div class="pass-item">
		<span><%= link_to pass.pass_set.bar.name, pass.pass_set.bar %></span>
		<span class="offset2"><%= pass.pass_set.date.strftime("%m/%d/%Y") %></span>
  	  </div> <!-- end of .pass-item -->
	<% end %>
  <% end %>
  <%= will_paginate @passes, :previous_label => "Previous", :next_label => "Next" %>
</div>
<% else %>
  <div class="content-box">
	<div class="vertical-line">
    <%= link_to 'Create an account', new_user_registration_path %>, so that you can reap all of LISTD's benefits.
    </div> <!-- end of .vertical-line -->
  </div>
<% end %>