<h2>My Passes</h2>

<% if current_user != nil %>
	<table cellpadding="10">
		<tr>
	    	<th>Date</th>
	    	<th>Bar</th>
	  	</tr>

		<% @passes.each do |pass| %>
  			<% if (!pass.redeemed) %>
	  			<tr>
					<td><%= pass.pass_set.date.strftime("%m/%d/%Y") %></td>
	    			<td><%= pass.pass_set.bar.name %></td>
	  			</tr>
  			<% end %>
		<% end %>
	</table>
<% else %>
	<p><%= link_to 'Create an account', new_user_registration_path %>, so that you can reap all of LISTD's benefits.</p>
<% end %>