<% if current_user != nil %>
	<div class="title-bar">
  		<h5>Upcoming Passes</h5>
	</div>

	<div class="content-box">
  		<% @passes.each do |pass| %>
			<% if (!pass.redeemed) %>
				<div class = "row-fluid">
      				<div class="pass-item">
						<span><%= link_to pass.pass_set.bar.name, pass %></span>
						<span class="offset2">Date: <%= pass.pass_set.date.strftime("%m/%d/%Y") %></span>
  	  				</div> <!-- end of .pass-item -->
				</div>
			<% end %>
  		<% end %>
	</div>
<% end %>
