<div class="title-bar">
  <h5>My Reservations</h5>
</div>

<% if current_user != nil %>
	<div class="content-box">
  		<% @reservations.each do |pass| %>
			<% if (!pass.redeemed) %>
      			<div class="pass-item">
					<span><%= link_to pass.pass_set.bar.name, pass %></span>
					<span class="offset1">Date: <%= pass.pass_set.date.strftime("%m/%d/%Y") %></span>
					<span class="offset1"># of Guests: <%= pass.entries %></span>
  	  			</div> <!-- end of .pass-item -->
			<% end %>
		<% end %>
  		<%= will_paginate @passes, :previous_label => "Previous", :next_label => "Next" %>
	</div>
<% end %>