<div id="banner" class="row-fluid">
  <div class="span4 center-text">
	<%= image_tag("phone.png", alt: "App") %>
  </div>
  <div class="span8" id="banner-content">
	<%= image_tag("get_listed_text.png", alt: "Get Listed") %>
	<p class="lead"> LISTD allows you to buy online passes to skip lines at bars and nightclubs.</p>
	<%= link_to "Explore LISTD", '/welcome', :class => "btn btn-inverse btn-large" %>
	<%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-large" %>
  </div>
</div> <!-- end of #banner -->
<div id="steps" class="row-fluid">
  <div class="span4" id="one">
	<p>Select a bar or nightclub and find available passes for a specific day. </p>
  </div>
  <div class="span4" id="two">
	<p> Purchase passes through our online payment system. </p>
  </div>
  <div class="span4" id="three">
	<p> Show your LISTD pass and ID to the bouncer and enjoy your night! </p>
  </div>
</div> <!-- end of #steps -->