<style type="text/css">
h3 {
	text-align: center
}
p.margin{
margin-left:17%;
margin-right:17%
}

#shift {
  margin-left: 5%;
}

</style>

<body>
	<div class = "container-fluid">
		<h1>
			The Fastest and Easiest Way To Get Into a Bar or Nightclub
		</h1>
		<hr>

		<h3>
			An Easy-To-Follow Process
		</h3>

		<p align="center">
			LISTD allows you to buy online passes to skip lines at your favorite bars and nightclubs from your computer and mobile devices. Passes are available for purchase a week in advance. Remember that our passes are limited for each night so get yours before they run out. 
			<br>
			<br>
			<br>
		</p>

		<div id="shift">
			<div id="stepstwo" class="row-fluid" align="center">
				<div class="span4" id="one">
					<p>1. Select a bar or nightclub and find passes for a specific day. </p>
				</div>
				<div class="span4" id="two">
					<p align="center">2. Purchase passes through our online payment system. </p>
				</div>
				<div class="span4" id="three">
					<p>3. Bring your ID to the bar or nightclub and enjoy your night. </p>
				</div>
			</div>
		</div>

		<hr>

		<h3>
			LISTD Passes
		</h3>
		<p align="center">
			Passes are available a week in advance. You can also purchase passes while waiting in line, if available.
		</p>

		<hr>

		<h3>LISTD On Other Devices </h3>
		<p align="center">
			Experience LISTD on your mobile phone or tablet by visiting <%= link_to "www.listdnow.com", root_path %>. Be on the look out for our mobile apps.
		</p>

		<hr>

		<h3>
			LISTD For Businesses
		</h3>
		<p align="center"> 
			Do you want to supplement your revenue, while increasing both your brand recognition and customer satisfaction? Partner with LISTD, for more information check out our Businesses page or contact us at <%= mail_to("questions@listdnow.com")%>. .
		</p>

		<hr>

		<h3>
			LISTD's Dedicated Team
		</h3>
		<p align="center">
			We strive to make your nightlife experience more enjoyable, accessible, and less stressful. Our top priority is your satisfaction.
		</p>

		<hr>

		<h3>
			Any questions?
		</h3>
		<p align="center">
			Contact us at <%= mail_to("contactus@listdnow.com")%>. 
		</p>
		</br>
	</div>
</body>
