<style type="text/css">

h3 {
	text-align: center
}
#center {
	text-align: center
}

p.margin{
margin-left:20%;
margin-right:17%
}

</style>

<body>
<h1 >Businesses Benefit From LISTD</h1>	

<hr>
<h3>LISTD Increases Your Revenue</h4>
<p align="center">
Each transaction via LISTD has the potential of increasing your revenue.
</p>
<hr>
<h3>LISTD Increases Your Brand Recognition</h3>
<p align="center">
LISTD provides you another avenue to promote your business, while helping you succeed in your marketing plan. 
</p>
<hr>
<h3>LISTD Increases Customer Satisfaction</h3>
<p align="center">
We provide an organized and efficient means for customers to access your venue. Your customers have the ability to purchase our passes in the comfort of their homes or on the run. LISTD will keep track of all purchases and provides an easy way to view all transactions so you can focus on your customers.  
</p>
<hr>
<h3>Interested?</h3>
<p align="center">
If you would like to learn more about LISTD or wish to become a partner, contact us at <%= mail_to("team@listdnow.com")%>. 
</p>

</br>
<div id="center">
<%= link_to "Click Here To Download More Information" , businesspdf_path %>
</div>
<br>
</body>
