<div id="temp">
	<%= link_to image_tag("update_button_temp.png"), '/pages/edit_pass_set_temp', :remote => true %>
</div>

<div id="modal-container"></div>
<div id="modal">
  <a href="#" class="close">x</a>
</div>