/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_style
 *= require jquery-ui/ui-lightness
*/

.blueButton{
    background:#6da952 url(btt-bg.png) no-repeat 0px -48px;
    border:1px solid #29447e;
    border-bottom-color:#1a356e;
    box-shadow:0 1px 0 rgba(0, 0, 0, .1);
    cursor:pointer;
    display:-moz-inline-box;
    display:inline-block;
    font-size: 11px;	
    font-weight:bold;
    line-height:normal !important;
    padding:6px 18px;
    text-align:center;
    text-decoration:none;
    vertical-align:top;
    white-space:nowrap;
    color:#fff; 
}
.blueButton:active{
    background:#4f6aa3;
    border-bottom-color:#999;
}
.blueButton .blueButtonText,.blueButton input{
    background:none;
    border:0;
    color:#fff;
    cursor:pointer;
    display:-moz-inline-box;
    display:inline-block;
    font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight:bold;
    margin:0;
    outline:none;
    padding:1px 0 2px;
    white-space:nowrap
}