// Place all the styles related to the Bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.bars.show {
  background: #e7e7e7;
}

#bar-main {
  background: #fff;
  border: 1px solid #d0d0d0;
  padding: 1% 2% 2% 2%;
  margin-bottom: 2%;
  height: 240px;
}

#bar-main .map {
  border: 1px solid #ccc;
  height: 130px;
}

#bar-info {
  border: 1px solid #bbb;
  padding: 1% 2% 7px 2%;
  margin-bottom: 2%;
  background-color: #ccc;
  /*height: 240px;*/
  line-height: 15px;
}

#bar-info h5 {
  padding-bottom: 5%;
  border-bottom: 1px solid #000;
}

#passes-none {
  background: #fff;
  border: 1px solid #d0d0d0;
  padding: 1% 0%;
  margin-bottom: 2%;
}

#passes-avail {
  background: #fff;
  border: 1px solid #d0d0d0;
  padding: 1% 0% 0% 0%;
  margin-bottom: 2%;
}

#passes-avail .span1 {
  margin-left: 0px;
}

.div-header {
  border-bottom: 1px solid #d0d0d0;
  padding: 0% 2% 1% 2%;
}

.date-box {
  display: inline;
  border-right: 1px solid #d0d0d0;
  padding: 3% 1% 1% 1%;
}

.date-box .lead {
  font-size: 42px;
}


@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
    .passSetTable table, 
    .passSetTable thead, 
    .passSetTable tbody, 
    .passSetTable th, 
    .passSetTable td, 
    .passSetTable tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    .passSetTable thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    .passSetTable tr { border: 1px solid #ccc; }
 
    .passSetTable td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }
 
    .passSetTable td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    .passSetTable td:before { content: attr(data-title); }
}
